/* BASE */

.button{
    margin: 0 auto;
    margin-top: 175px;
    padding: 20px 46px;
    border: none;
    border-radius: 6px;
    display: block;
    background-color: #F9F9F9;
    color: #FFF;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.b-shadow{
    box-shadow: 0 10px 22px rgba(0,0,0,0.075), 0 10px 10px rgba(0,0,0,0.02);
}

.b-hover-darken:active{
   filter: brightness(85%);
}

.b-hover-shadow:active{
    box-shadow: 0 10px 22px rgba(0,0,0,0.075), 0 10px 10px rgba(0,0,0,0.02);
}

/* BASE COLOURS */

.b-blue{
    background-color: #1C92ED;
    color: #FFF;
}

.b-red{
    background-color: #FF3C49;
    color: #FFF;
}

.b-grey{
    background-color: #DEDEDE;
    color: #AAA;
}
